<?php
/**
 * Created by PhpStorm.
 * User: lifarav
 * Date: 02.09.2016
 * Time: 23:21
 */

return new \Phalcon\Config(
    [
        'mail' => [
            'fromName' => 'Twet',
            'fromEmail' => 'twet-bot@virtualbox.vm',
        ],
        'hosts' => [
            'main' => $host,
            'static' => $host
        ],
        'twitch' => [
            'client_id' => '',
            'client_secret' => '1',
            'redirect_uri' => $host . '/twitch/callback',
        ],
        'crypt' => [
            'key' => '',
        ],
        'mysql' => [
            'host' => 'virtualbox.vm',
            'username' => '',
            'password' => '',
            'dbname' => 'twet',
            'persistent' => 'false',
        ],
    ]
);